# Python Cache & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Temporary and Lock files
~$*
*.tmp
*.temp
~WRL*

# Non-essential / Scratch Folders
backup/
templates/
Proposal/

# Scratch Text Notes & Presentations
*.txt
!requirements.txt
*.docx
!2_CS_13_Capstone Project_Quantum_Attack_Risk_Profiler_And_Migration_Planner(QARP)_2026_v9.docx
*.pptx
*.csv.xlsx

# Image Files
*.png
*.svg
*.jpg
*.jpeg
*.gif

# OS specific
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
